
normalize.css

:root {
    font-size: 16px;
    color: rgb(238, 238, 238);
    background-color: #181818;
}

/*NAVIGATION BAR*/

.navbar {
    position: fixed;
    background-color: #181818;
    transition: width 200ms ease;
    font-family: 'MuseoSlab', serif;
    z-index: 9999;
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    letter-spacing: 0.15ch;
}

.navbar-button {
    width: 100%;
}

.navbar-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: rgb(238, 238, 238);
    filter: opacity(100);
    text-decoration: none;
    filter: grayscale(100%) opacity(.68);
    transition: 200ms;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.logo-text {
    display: none;
    margin-left: 1rem;
}

.navbar-link svg {
    min-width: 2rem;
    margin: 1.5rem;
}

.nav-image {
    color: #03989e;
    transition: 200ms;
}

.navbar-link:hover {
    width: 14rem;
    filter: grayscale(0%) opacity(1);
}

.navbar-button:last-child {
    margin-top: auto;
  }

.logo {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #03989e;
    font-size: 1.8rem;
    letter-spacing: 0.2ch;
    width: 100%;
}


.logo svg {
    transform: rotate(0deg);
    transition: 200ms;
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

@media only screen and (max-width: 900px) { /*small screens */
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .link-text {
        display: none;
    }

    .navbar-list {
        flex-direction: row;
    }

    .navbar-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

@media only screen and (min-width: 900px) { /* Large screens */
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo-text {
        display: inline;
    }

    .navbar:hover .logo-text
    {
        left: 0px;
    }

    .navbar:hover .link-text{
        display: block;
    }

    .navbar:hover .logo-text{
        display: block;
    }
}


/* HEADER */


/*can be found as inline css*/


/*BODY */


body {
    margin:0px;
    padding:0px;
    font-family: 'MuseoSans', sans-serif;
    color: #181818;
    background-color: rgb(218, 218, 218);
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    width: 0.25rem;
    background: #181818;
}

body::-webkit-scrollbar-thumb {
    width: 0.25rem;
    background: #03989e;
}

h1 {
    font-family: "MuseoSlab";
    letter-spacing: 2px;
    text-align: left;
}

p {
    font-size: 24px;
    font: "MuseoSans";
    text-align: left;
}

sup {
    font-size: .9rem;
}

@media only screen and (max-width: 900px) { /*small screens*/

    main {
        margin-left: 5vw;
        margin-right: 3vw;
        margin-bottom: 6rem;
        padding: 0rem;
    }

    .socialmedia {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .socialmedia svg {
        width: 10vw;
        height: 10vw;
    }

}

@media only screen and (min-width: 900px) { /*Large screens)*/

    main {
        margin-left: 8rem;
        margin-right: 3rem;
        padding: 0rem;
    }

    .socialmedia {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .socialmedia svg {
        width: 80px;
        height: 80px;
        padding-right: 40px;
    }

}

h2, p {
    margin-bottom: 2.4rem;
}

h1 {
    font: 700 2.8rem/1.2 "MuseoSans";
    color: hsl(258, 26%, 30%)/*hsl(200, 40%, 20%)*/;

}

h2 {
    font: 400 2.0rem/1.2 "MuseoSlab";
    color: hsl(260, 25%, 85%);
}

h3 {
    font: 800 1.5rem/1.2 "MuseoSans";
    color: hsl(0, 0%, 28%);
}

time {
    font: 800 1.0rem/1.2 "MuseoSans";
    color: hsl(258, 25%, 50%);
}

p {
    font: 400 1.2rem/1.5 "MuseoSans";
    color: hsl(0, 0%, 28%);
}

main a {
    box-shadow: inset 0 -0.12em hsl(182, 96%, 32%);
    text-decoration: none;
    color: inherit;
}

.face {
    /*display: none;*/
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-image: "Starry Sky.jpg";
}

.special-p {
    text-align: left;
    margin-bottom: 2rem;
}

.socialmedia-link {
    box-shadow: none;
}

hr {
    height: 3px;
    background-color: hsl(258, 26%, 50%);
    border: none;
}
